# flask app configuration
LOG_LEVEL = "DEBUG"
SECRET_KEY = "super-secret-key"

# custom configuration for the app
MONGO_HOST = "mongo.example.com"
MONGO_DB_NAME = "mongo_db"
MONGO_USERNAME = "mongo_user"
MONGO_PASSWORD = "mongo_password"

ENTITY_API_URL = "https://entity-api.dev.sennetconsortium.org"
INGEST_API_URL = "https://ingest-api.dev.sennetconsortium.org"
SEARCH_API_URL = "https://search-api.dev.sennetconsortium.org"
UUID_API_URL = "https://uuid-api.dev.sennetconsortium.org"
UBKG_API_URL = "https://ontology-api.dev.hubmapconsortium.org"
EUTILS_API_URL = "https://eutils.ncbi.nlm.nih.gov"
SCICRUNCH_API_URL = "https://scicrunch.org"
